<header class="header"></header>

<core-drawer-panel id="drawerPanel">

  <core-header-panel drawer>
    <core-toolbar id="navheader'">
      <span>Menu</span>
    </core-toolbar>
    <div class="menu-items"></div>
   </core-header-panel>

  <core-header-panel main>
    <core-toolbar id="mainheader" class="medium">
      <paper-icon-button 
        id="navicon" icon="menu"></paper-icon-button>
      <span flex>Skill Set</span>
      <img src="../images/nagarro-logo.png" class="img-responsive nagarro-logo"/>
    </core-toolbar>
    <div class="content">
    </div>
  </core-header-panel>

</core-drawer-panel>
<footer class="footer page-footer"></footer>